.grid {
  display: grid;
  gap: 5px;
}

.slot {
  width: 60px;
  height: 60px;
  background: #020617;
  border: 1px solid #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
